// Se añade este estilo para elevar el botón flotante
ion-fab {
  // ¡AJUSTE! Aumentamos el margen para que el botón flote sobre la barra de pestañas.
  // Puedes ajustar este valor si necesitas que esté más arriba o más abajo.
  margin-bottom: 4rem;
}

// Estilo para centrar el spinner de carga
.spinner-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
