<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Nueva Clase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-spinner *ngIf="cargando" name="crescent" class="spinner-center"></ion-spinner>

  <div *ngIf="!cargando">
    <ion-list>
      <ion-item>
        <ion-input label="Nombre del Curso" labelPlacement="floating" [(ngModel)]="curso.nombre" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Área Académica" labelPlacement="floating" [(ngModel)]="curso.area" type="text"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list-header>
      <ion-label>Configuración de la Clase</ion-label>
    </ion-list-header>
    <ion-list [inset]="true">
      <ion-item>
        <ion-select label="Asignar Grado" labelPlacement="floating" [(ngModel)]="asignacion.gradoId" required>
          <ion-select-option *ngFor="let grado of grados" [value]="grado.id">
            {{ grado.nombre }} - {{ grado.seccion }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select label="Asignar Profesor" labelPlacement="floating" [(ngModel)]="asignacion.profesorId" required>
          <ion-select-option *ngFor="let profesor of profesores" [value]="profesor.id">
            {{ profesor.nombreCompleto }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list-header>
      <ion-label>Inscribir Estudiantes</ion-label>
    </ion-list-header>
    <ion-list [inset]="true">
      <ion-item *ngFor="let estudiante of estudiantes">
        <ion-checkbox slot="start" [(ngModel)]="estudiante.inscrito"></ion-checkbox>
        <ion-label>{{ estudiante.nombreCompleto }}</ion-label>
      </ion-item>
    </ion-list>

    <ion-button expand="block" (click)="guardarCursoCompleto()" [disabled]="guardando" class="ion-margin-top">
      <ion-spinner *ngIf="guardando" name="crescent"></ion-spinner>
      <span *ngIf="!guardando">Guardar y Configurar Clase</span>
    </ion-button>
  </div>
</ion-content>


