<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar 
      animated="true" 
      placeholder="Buscar por nombre o correo"
      [debounce]="250"
      (ionInput)="handleSearch($event)">
    </ion-searchbar>
  </ion-toolbar>

  @if (userRoleFilter === 'estudiante') {
    <ion-toolbar>
      <ion-item>
        <ion-select 
          label="Filtrar por Grado" 
          interface="action-sheet"
          [(ngModel)]="selectedGradeId"
          (ionChange)="handleGradeFilterChange($event)">
          <ion-select-option value="all">Mostrar Todos</ion-select-option>
          @if(grados$ | async; as grados) {
            @for(grado of grados; track grado.id) {
              <ion-select-option [value]="grado.id">{{ grado.nombre }} - {{ grado.seccion }}</ion-select-option>
            }
          }
        </ion-select>
      </ion-item>
    </ion-toolbar>
  }
</ion-header>

<ion-content>
  @if (isLoading) {
    <div class="ion-text-center ion-padding">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  } @else {
    @if (users.length > 0) {
      <ion-list [inset]="true">
        @for (user of users; track user.id) {
          <ion-item-sliding>
            <ion-item>
              <ion-avatar slot="start">
                <img [src]="user.photoURL || 'https://ionicframework.com/docs/img/demos/avatar.svg'" />
              </ion-avatar>
              <ion-label>
                <h2>{{ user.nombreCompleto }}</h2>
                <p>{{ user.email }}</p>
              </ion-label>
              <ion-chip [color]="getRoleColor(user.rol)" slot="end">
                <ion-label>{{ user.rol | titlecase }}</ion-label>
              </ion-chip>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="light" (click)="goToEditUser(user.id)">
                <ion-icon slot="icon-only" [icon]="icons['createOutline']"></ion-icon>
              </ion-item-option>
              <ion-item-option color="danger" (click)="deleteUser(user.id, user.nombreCompleto)">
                <ion-icon slot="icon-only" [icon]="icons['trashOutline']"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        }
      </ion-list>
    } @else {
      <div class="ion-text-center ion-padding">
        @if (searchTerm) {
          <p>No se encontraron usuarios que coincidan con "{{ searchTerm }}".</p>
        } @else {
          <p>No hay usuarios para mostrar en esta lista.</p>
        }
      </div>
    }
  }

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToCreateUser()">
      <ion-icon [icon]="icons['add']"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
