<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ isEditMode ? 'Editar Horario' : 'Nuevo Horario' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancelar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-select label="Día de la Semana" label-placement="floating" [(ngModel)]="horario.dia">
        <ion-select-option *ngFor="let dia of diasSemana" [value]="dia.valor">
          {{ dia.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input label="Aula" labelPlacement="floating" [(ngModel)]="horario.aula" type="text" required></ion-input>
    </ion-item>
  </ion-list>

  <ion-list-header>
    <ion-label>Hora</ion-label>
  </ion-list-header>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="auto">
        <ion-label>Inicio:</ion-label>
      </ion-col>
      <ion-col>
        <ion-datetime-button datetime="time-inicio"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="time-inicio" presentation="time" [(ngModel)]="horario.horaInicio"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="auto">
        <ion-label>Fin:</ion-label>
      </ion-col>
      <ion-col>
        <ion-datetime-button datetime="time-fin"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="time-fin" presentation="time" [(ngModel)]="horario.horaFin"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button expand="block" (click)="guardar()" [disabled]="guardando" class="ion-margin-top">
    <ion-spinner *ngIf="guardando" name="crescent"></ion-spinner>
    <span *ngIf="!guardando">Guardar</span>
  </ion-button>

</ion-content>